@import "compass/reset";
@import "compass/css3";
@import "compass/utilities/general/clearfix";
@import "compass/typography/vertical_rhythm";

$odd: #f1f6fb;
$blue: #0072bc;
$orange: #f94a39;
$highlight: #fff799;

$dark_red: #b9285a;
$red: #d1216f;
$purple: #9b2c53;

$silver: #dfe4e9;
$neon_green: #2ec6c8;
$neon_dark: #00a1a4;
$dark_silver: #abafb4;

/* apply a natural box layout model to all elements */
*, *:before, *:after {
	@include box-sizing(border-box); 
 }

/* VARIABLES */ 

$body_width: 1280px;
/* VARIABLES END */
$text_color: #313539;


@mixin selection($color) {
	&::selection {
		background: $color;
		color: white;
	}
	&::-moz-selection {
		background: $color; 
		color: white;
	}
} 

@mixin default-border-radius {
	@include border-radius(6px);
}

@mixin default-text {
	font-size: 1.7em;
	line-height: 1.7em;
	color: $text_color;
}

@mixin default-link {
	color: $neon_green;
	text-decoration: underline;
	font-size: 1.6em;
	line-height: 1.7em;
	&:hover {
		background: $neon_green;
		color: white;
		text-decoration: none;
		@include default-border-radius;

	}
}

 span.code {
	background: $odd;
	padding: 8px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-size: 1em;
	@include border-radius(4px);
	&::selection {
		background: $orange; /* Safari */
		color: white;
	}
	&::-moz-selection {
		background: $orange; /* Firefox */
		color: white;
	}
}

 

/* MIXINS */
@mixin placeholder($color){
	&::-webkit-input-placeholder {
		color: $color;
	}
	&:-moz-placeholder { /* Firefox 18- */
		color: $color;
		opacity: 1;
	}
	&::-moz-placeholder { /* Firefox 19+ */
		color: $color;
		opacity: 1;
	}
	&:-ms-input-placeholder {
		color: $color;
	}
}

@mixin master-transition {
	@include transition(0.3s);
}

@mixin pricing-transition {
	@include transition(0.5s);
}
/* MIXINS END */


/* RESETS */
* {
	text-decoration: none;
	outline: none;
}

.clearfix {
	zoom:1;
	&:before, &:after {
		content: "\0020"; 
		display: block; 
		height: 0; 
		overflow: hidden; 
	}
	&:after {
		clear: both;
	}
}

body {
	font-family: "Lato", Helvetica, sans-serif;
	font-size: 62.5%;
	background: white;
}

input, input::-moz-focus-inner {
	border: none;
}

input {
	-webkit-appearance: none;
	@include border-radius(0);
	border: none;
}

input:focus, textarea:focus, input:focus::-moz-focus-inner {
	outline: none;
	border: none;
}
.wrapper {
	width: 1280px;
	margin: 0 auto;
}
/* RESETS END */
hr {
	float: left;
	width: 100%;
	height: 5px; 
	border: 0;
	background: $odd;
	color: $odd;
}
section.content--block {
	float: left;
	width: 100%;
	padding-top: 30px;
	padding-bottom: 50px;
	&.odd {
		background: $odd;
	}
	h2{
		font-size: 3.6em;
		font-weight: bold;
		color: $text_color;
		margin-bottom: 30px;
		&:first-letter {
			background: $neon_green;
			color: white;
							padding: 4px;
							margin-right: 5px;
			font-size: 1.4em;
		}
	}
	p{
		@include default-text;
		span.highlight {
			background: $highlight;
		}

	}
	div.left, div.right {
		width: $body_width/2;
		float: left;
	}
	
	h3 {
		font-size: 4em;
		text-align: right;
		padding-right: 40px;
		color: $text_color;
		font-weight: bold;
		
	}
	&#distros {
		h3 {
			line-height: 150px;
		}
		$svg-gradient-shim-threshold: 1 !global;
	 	@include background-image( linear-gradient(to right, 
	 		$silver 0%,
	 		$silver 50%,
	 		white 50%,
	 		white 100%));


		 img {
			width: 64px;
			&:hover {
				cursor: pointer;
			}
		}
		ul {
			float: left;
			margin-top: 40px;
			width: 100%;
			li {
				float: left;
				clear: none;
				margin-left: 80px;
			}
		}
	}

	&#quickstart {
		h3 {
			color: white;
			line-height: 350px;
		}
		$svg-gradient-shim-threshold: 1 !global;
	 	@include background-image( linear-gradient(to right, 
	 		$neon_dark 0%,
	 		$neon_dark 50%,
	 		$neon_green 50%,
	 		$neon_green 100%));
		
		div.console {
			float: right;
			margin-top: 10px;
		}

	}
}
section#topnav {
	float: left;
	width: 100%;
	height: 80px; 
	background: white;
	ul {
		float: right;
		margin-top: 22px;
		li {
			float: left;
			margin-left: 40px;
			a {
				@include default-link;
				font-size: 2em;
			}
		}
	}
}

header {
	float: left;
	clear: left;
	width: 100%;
	z-index: 10;
	text-align: center;
	background: $silver;

	a.logo {
		$image: "../images/logo.png";
		background: url(../images/logo.png) no-repeat;
		width: image-width($image);
		height: image-height($image);
		display: block;
		text-align: center;
		margin-left: auto;
   		margin-right: auto; 
   		margin-top: -37px;
	}

	h1{
		font-size: 6em;
		padding-top: 30px;
		padding-bottom: 20px;
		font-weight: bold;
		color: $text_color;
		margin-bottom: 30px;
	}
	p{
		font-size: 4em;
		padding-top: 20px;
		padding-bottom: 20px;
		color: white;
		background: $dark_silver;

	}
}
section#content {
	float: left;
	width: 100%;
	height: 100%;
	background: white;

}
$green: #8abd56;
$yellow: #fdcb34;
$red: #e25352;
$console_width: 600px;
div.console {
	float: left;
	width: $console_width;
	@include border-radius(6px);
	&__heading {
	
		background: $silver;
		width: 100%;
		margin: 0px;
		float: left;
		height: 35px;
		@include border-top-radius(6px);
		span.title {
			@include default-text;
			text-align: center;
			width: $console_width/2+120;
			font-weight: bold;
			padding-top: 3px;
			display: inline-block;
		}
		ul {
			float: left;
			margin: 12px;
			li {
				float: left;
				margin-right: 5px;
				span {
					background: $orange;
					width: 12px;
					display: block;
					height: 12px; 
					@include border-radius(50%);
					&.green {
						background: $green;
					}
					&.yellow {
						background: $yellow;
					}
					&.red {
						background: $red;
					}
				}
			}
		}
	} // heading end 
	&__content {
		background: $text_color;
		min-height: 300px;
		padding-top: 10px;
		float: left;
		width: 100%;
		@include border-bottom-radius(6px);
		p.line {
			padding: 5px;
			padding-bottom: 0px;
			@include default-text; 
			font-size: 2em;
			line-height: 1.5em;
		}
		span {
			padding-right: 5px;
		}
		span.path {
			color: $blue;
		}
		span.prompt {
			color: $red;
		}
		span.command {
			color: $yellow;
		}
		span.output {
			color: $dark_silver;
		}
	}
	

}

.fork-me {
background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAnElEQVR4XqVSgQmEMAyszw/gCI7wK7iBblBHcISfxG6gG/gjuIGO0A3ygaYQCCG2HhweF+6aShsAcDcBJBpuvlwFagqGJwUf5EL6kgV2eEe2yIgc9QI73CMPs8AOywI7nHDSzCxYxcnJ6+hrFnQkJrb2nGclP3Fj+vf0IUV1AgCZHiS86lOObxD4qqSD5mtXmAq1e2fB3vqXact3f/JmXumJlVq1AAAAAElFTkSuQmCC") no-repeat scroll 50% center $neon_green;
height: 40px;
overflow: hidden;
position: fixed;
right: 0;
text-indent: 100%;
top: 0;
white-space: nowrap;
width: 40px;
 }