@import "compass/reset";
@import "compass/css3";
@import "compass/utilities/general/clearfix";
@import "compass/typography/vertical_rhythm";

$odd: #f5f2f9;

$orange: #f94a39;

$dark_red: #b9285a;
$red: #d1216f;
$purple: #9b2c53;

$silver: #dfe4e9;
$neon_green: #2ec6c8;
$neon_dark: #00a1a4;
$dark_silver: #abafb4;

/* apply a natural box layout model to all elements */
*, *:before, *:after {
	@include box-sizing(border-box); 
 }

/* VARIABLES */ 

$body_width: 1280px;
/* VARIABLES END */
$text_color: #313539;


@mixin selection($color) {
	&::selection {
		background: $color;
		color: white;
	}
	&::-moz-selection {
		background: $color; 
		color: white;
	}
} 

@mixin default-border-radius {
	@include border-radius(6px);
}

@mixin default-text {
	font-size: 1.7em;
	line-height: 1.7em;
	color: $text_color;
}

@mixin default-link {
	color: $neon_green;
	text-decoration: underline;
	font-size: 1.6em;
	line-height: 1.7em;
	&:hover {
		background: $neon_green;
		color: white;
		text-decoration: none;
		@include default-border-radius;

	}
}

 span.code {
	background: $odd;
	padding: 8px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-size: 1em;
	@include border-radius(4px);
	&::selection {
		background: $orange; /* Safari */
		color: white;
	}
	&::-moz-selection {
		background: $orange; /* Firefox */
		color: white;
	}
}

 

/* MIXINS */
@mixin placeholder($color){
	&::-webkit-input-placeholder {
		color: $color;
	}
	&:-moz-placeholder { /* Firefox 18- */
		color: $color;
		opacity: 1;
	}
	&::-moz-placeholder { /* Firefox 19+ */
		color: $color;
		opacity: 1;
	}
	&:-ms-input-placeholder {
		color: $color;
	}
}

@mixin master-transition {
	@include transition(0.3s);
}

@mixin pricing-transition {
	@include transition(0.5s);
}
/* MIXINS END */


/* RESETS */
* {
	text-decoration: none;
	outline: none;
}

.clearfix {
	zoom:1;
	&:before, &:after {
		content: "\0020"; 
		display: block; 
		height: 0; 
		overflow: hidden; 
	}
	&:after {
		clear: both;
	}
}

body {
	font-family: "Lato", Helvetica, sans-serif;
	font-size: 62.5%;
	background: white;
}

input, input::-moz-focus-inner {
	border: none;
}

input {
	-webkit-appearance: none;
	@include border-radius(0);
	border: none;
}

input:focus, textarea:focus, input:focus::-moz-focus-inner {
	outline: none;
	border: none;
}
.wrapper {
	width: 1280px;
	margin: 0 auto;
}
/* RESETS END */
hr {
	float: left;
	width: 100%;
	height: 5px; 
	border: 0;
	background: $odd;
	color: $odd;
}
section.content--block {
	float: left;
	width: 100%;
	padding-top: 30px;
	padding-bottom: 30px;
	h2{
		font-size: 3em;
		font-weight: bold;
		color: $text_color;
		margin-bottom: 30px;
		&:first-letter {
			background: $neon_green;
			color: white;
			padding: 4px;
			margin-right: 5px;
			font-size: 1.4em;
		}
	}
	p{
		@include default-text;

	}
	&#quickstart {
		background: $neon_green;
		padding-top: 0px;
		div.console {
			float: right;
			margin-top: -45px;
		}

	}
}
section#topnav {
	float: left;
	width: 100%;
	height: 80px; 
	background: white;
	ul {
		float: right;
		margin-top: 22px;
		li {
			float: left;
			margin-left: 40px;
			a {
				@include default-link;
				font-size: 2em;
			}
		}
	}
}

header {
	float: left;
	clear: left;
	width: 100%;
	//min-height: 350px;
	
	z-index: 10;
	text-align: center;
	background: $silver;

	a.logo {
		$image: "../images/logo.png";
		background: url(../images/logo.png) no-repeat;
		width: image-width($image);
		height: image-height($image);
		display: block;
		text-align: center;
		margin-left: auto;
   		margin-right: auto; 
   		margin-top: -37px;
	}

	h1{
		font-size: 6em;
		padding-top: 30px;
		padding-bottom: 20px;
		font-weight: bold;
		color: $text_color;
		margin-bottom: 30px;
	}
	p{
		font-size: 4em;
		padding-top: 20px;
		padding-bottom: 20px;
		color: white;
		background: $dark_silver;

	}
}
section#content {
	float: left;
	width: 100%;
	height: 100%;
	background: white;
}
section#distros {
	float: left;
	width: 100%;
	height: 150px;
	background: $odd;
	h2 {
		float: left;
		width: auto;
		@extend h1;
	}
	img {
		width: 64px;
	}
	ul {
		float: left;
		li {
			float: left;
			clear: none;
			margin-left: 40px;
		}
	}
}

$green: #8abd56;
$yellow: #fdcb34;
$red: #e25352;
div.console {
	float: left;
	//border: 2px solid $odd;
	@include border-radius(6px);
	&__heading {
		min-width: 500px;
		background: $odd;
		width: 100%;
		margin: 0px;
		float: left;
		height: 35px;
		@include border-top-radius(6px);
		span.title {
			@include default-text;
			text-align: center;
			width: 335px;
			font-weight: bold;
			padding-top: 3px;
			display: inline-block;
		}
		ul {
			float: left;
			margin: 12px;
			li {
				float: left;
				margin-right: 5px;
				span {
					background: $orange;
					width: 12px;
					display: block;
					height: 12px; 
					@include border-radius(50%);
					&.green {
						background: $green;
					}
					&.yellow {
						background: $yellow;
					}
					&.red {
						background: $red;
					}
				}
			}
		}
	} // heading end 
	&__content {
		background: $text_color;
		min-height: 300px;
		float: left;
		width: 100%;
		@include border-bottom-radius(6px);
	}
	

}