<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="chrome=1">
		<title>Edgium</title>
	
		<link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="{{ site.url }}/stylesheets/styles.css">

		<link rel="icon" type="image/png" href="{{ site.url }}images/favicon.png" />
		
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<!--[if lt IE 9]>
		<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>
	<body> 
		<section id="topnav">
			<div class="wrapper">
				<ul>
					<li><a href="">Intro</a></li>
					<li><a href="">Install</a></li>
					<li><a href="">Docs</a></li>
				</ul>
			</div>
		</section>
		<header>
			<div class="wrapper">
				<a class='logo' href="/"></a>
				<h1>Introducing Edgium</h1>
				
			</div>
				<p>Install the latest Linux packages with 1 line.</p>
		</header>
		<section id="what" class='content--block'>
			<div class="wrapper">
			<h2>What is Edgium?</h2>
			<p>
				Edgium is a small devops package that syncs your Linux box
				with the official or most popular community repositories for your
				favorite apps.
			</p>
			</div>
		</section>
		<hr>
		<section id="why" class='content--block'>
			<div class="wrapper">
			<h2>Why?</h2>
			<p>
			Most of the time the packages available in our Distros are 
			hopelesly outdated. The only way you can install the latest 
			version is to dig deep into wikis/docs and than execute a lot of 
			similar commands. It gets really painful when you have to repeat 
			the process on different servers over a big period of time (You install
			PostgreSQL, your app grows and you deploy the next instance in 2 months). 

			Until now the only way to solve this was to create/fork your cookbooks/manifest
			with popular devops tool like Chef, Puppet, Ansible, etc.

			There are great tools in their own right and knowing how to use them is 
			valuable knowledge, but sometimes you just want to install the latest 
			PostgreSQL version and play with JSON storage.
			</p>
			</div>
			</section>

		<section id="quickstart" class='content--block'>
			<div class="wrapper">	
				<h3>Up and running in seconds</h3>
				<div class="console">
					<div class="console__heading">
						<ul>
							<li><span class="red"></span></li>
							<li><span class="green"></span></li>
							<li><span class="yellow"></span></li>
						</ul>
						<span class="title">Quick-start Instructions</span>
					</div>
					<div class="console__content">
						s
					</div>
						
				</div><!-- console end -->


			</div>
		</section>
			<section id="distros">
			<div class="wrapper">
			<h2>Supported Distros</h2>
			<ul>
				<li><img src="{{ site.url }}/images/aws.png" alt=""></li>
				<li><img src="{{ site.url }}/images/centos.png" alt=""></li>
				<li><img src="{{ site.url }}/images/ubuntu.png" alt=""></li>
				<li><img src="{{ site.url }}/images/debian.png" alt=""></li>

			</ul>
			</div>
		</section>
		<section id="content">
			<div class="wrapper">
				{{ content| markdownify }}
			</div>
		</section>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-42268071-1', 'martinrusev.github.io');
  ga('send', 'pageview');

</script>
</body>
</html>
